* {
    background-color: black;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background-color: black;
    color: blanchedalmond;
}

h1 {
    font-size: 40px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background-color: black;
    color:blanchedalmond;
    padding-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content:space-evenly;
    background-color: black;
}

#paper {
    height: 300px;
    width: 220px;
}

#scissor {
    height: 200px;
    width: 150px;
}

#rock {
    height: 200px;
    width: 150px;
}

.score {
    display: flex;

    justify-content: space-evenly;
}

#playerLiveScore {
    padding-top: 60px;
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}

#computerLiveScore {
    padding-top: 60px;
    padding-right: 40px;
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}

.result {
    font-size: 30px;
    display: flexbox;
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 100px;
    padding-bottom: 200px;
    padding-top: 50px;
}